<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('metroUI/css/metro.min.css') }}" rel="stylesheet">
        <link href="{{ asset('metroUI/css/metro-icons.css')}}" rel="stylesheet">
        <script src="{{ asset('jquery-2.2.3.min.js') }}"></script>
        <script src="{{ asset('metroUI/js/metro.min.js') }}"></script>
        <link href="{{ asset('metroUI/css/metro-schemes.min.css') }}" rel="stylesheet">
        <link href="{{ asset('metroUI/css/custom.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="flex-grid">
            <div class="row cells12">
                <div class="cell colspan2">
                    <ul class="sidebar2 dark" style="float: left; border-color: #5c5c5c">
                        <li class="bg-dark" style="height: 150px"></li>
                        <li {% if app.request.get('_route') == 'upload' %}class="active"{% endif %}>
                            <a href="{{ path('upload') }}">
                                <span class="mif-cloud-upload  icon"></span>
                                <span class="title">uploading</span>
                            </a></li>
                        <li {% if app.request.get('_route') == 'history' %}class="active"{% endif %}>
                            <a href="{{ path('history') }}">
                                <span class="mif-apps icon"></span>
                                <span class="title">history</span>
                            </a></li>
                        <li {% if app.request.get('_route') == 'about' %}class="active"{% endif %}>
                            <a href="{{ path('about') }}">
                                <span class="mif-info icon"></span>
                                <span class="title">about</span>
                            </a></li>
                        <li {% if app.request.get('_route') == 'faq' %}class="active"{% endif %}>
                            <a href="{{ path('faq') }}">
                                <span class="mif-pin icon"></span>
                                <span class="title">faq</span>
                            </a></li>
                        <li {% if app.request.get('_route') == 'rules' %}class="active"{% endif %}>
                            <a href="{{ path('rules') }}">
                                <span class="mif-checkmark icon"></span>
                                <span class="title">rules</span>
                            </a></li>
                        <li {% if app.request.get('_route') == 'exit' %}class="active"{% endif %}>
                            <a href="{{ path('logout') }}">
                                <span class="mif-exit icon"></span>
                                <span class="title">exit</span>
                            </a></li>
                        <li class="bg-dark" style="height: 2000px"></li>
                    </ul>
                </div>
                <div class="cell colspan10">
                {% block body %}

                {% endblock %}
                </div>
            </div>
        </div>
    </body>
    {% block javascript %}{% endblock %}
</html>
