<div>
    <footer style="">
        <div class="container sub-header">
            <div class="padding20">
                <ul class="f-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{{ path('history') }}">История</a></li>
                    <li><a href="{{ path('about') }}">О сервисе</a></li>
                    <!--li><a href="/contact">Связь</a></li-->
                    <li><a href="{{ path('faq') }}">FAQ</a></li>
                    <li><a href="{{ path('rules') }}">Правила</a></li>
                    <li><a href="{{ path('logout') }}">Вихід</a></li>
                </ul>
            </div>
            <div class="align-center padding20 ">
                © 2016
            </div>
        </div>
    </footer>
</div>