{% extends 'base.html.twig' %}

{% block body %}

<div class="row cells9 fg-grey text-accent" style="background-color: #5c5c5c">
    <div class="cell colspan2"></div>
    <div class="row flex-just-center">
        <div class="">
            <button onclick="selectTools($(this))" style="margin: 0; border-color: #999999;" id="undo-button" class="shortcut-button bg-lightGray bg-active-dark fg-white" data-role="hint" data-hint-mode="1" data-hint="Отменить изменения">
                    <span class="icon mif-keyboard-return"></span>Undo
            </button>
            <button style="margin: 0; border-color: #999999;" class="shortcut-button bg-lightGray bg-active-dark fg-white" id="frame">
                <img src="{{ asset('icon/frame.png.jpg') }}" class="icon"/>Frame<br />
            </button>
            <button style="margin: 0; border-color: #999999;" class="shortcut-button bg-lightGray bg-active-dark fg-white" id="marker"><!--active by default-->
                <span class="icon mif-pencil fg-white"></span>Marker
            </button>
            <button style="margin: 0; border-color: #999999;" class="shortcut-button bg-lightGray bg-active-dark fg-white" id="cut">
                <span class="icon mif-crop fg-white"></span>Snipp
            </button>
            <button style="margin: 0; border-color: #999999;" class="shortcut-button bg-lightGray bg-active-dark fg-white" id="text">
                <span class="icon fg-white"><strong>T</strong></span>Text
            </button>
            <button style="margin: 0; border-color: #5c5c5c;  background-color: #5c5c5c;" class="shortcut-button fg-white" id="text">
                <label>Color:</label>
                <input class="cell colspan1" type="color" id="brushColor" value="#ff0000">
                <label>Size:&nbsp&nbsp</label>
                <small>
                    <select class="size40" id="size">
                        <option value="1" style="color: black">1px(15 текст)</option>
                        <option value="3" style="color: black">3px(15 текст)</option>
                        <option value="5" style="color: black">5px(20 текст)</option>
                        <option value="10" selected style="color: black">10px(40 текст)</option>
                        <option value="15" style="color: black">15px(60 текст)</option>
                        <option value="20" style="color: black">20px(80 текст)</option>
                        <option value="30" style="color: black">30px(120 текст)</option>
                        <option value="40" style="color: black">40px(160 текст)</option>
                        <option value="70" style="color: black">70px(280 текст)</option>
                    </select>
                </small>
            </button>
        </div>
        {#<div class="cell size2 margin5">#}
            {#<label><small>Color:</small></label>#}
            {#<input class="cell colspan1" type="color" id="brushColor" value="#ff0000">#}
            {#<label><small>Size:&nbsp&nbsp</small></label>#}
            {#<small>#}
                {#<select class="size40" id="size">#}
                    {#<option value="1">1px(15 текст)</option>#}
                    {#<option value="3">3px(15 текст)</option>#}
                    {#<option value="5">5px(20 текст)</option>#}
                    {#<option value="10" selected>10px(40 текст)</option>#}
                    {#<option value="15">15px(60 текст)</option>#}
                    {#<option value="20">20px(80 текст)</option>#}
                    {#<option value="30">30px(120 текст)</option>#}
                    {#<option value="40">40px(160 текст)</option>#}
                    {#<option value="70">70px(280 текст)</option>#}
                {#</select>#}
            {#</small>#}
        {#</div>#}
    </div>
    {#<a href="#" onclick="return add_favorite(this);" class="fg-green padding10 place-right" >Добавить в Избранное</a>#}
</div>
<div class="page-content">
    <br>
    <div class="pasted-image-block"><div class="control-image-block row cells12">
        <div class="flex-grid">
            <div class="row flex-just-center">
                <div class="cell size-x600">
                    <div class="row">
                        <div class="input-control text big-input link-block" >
                            <input type="text" value="{{ url_image }}" readonly="" class='align-left' id="img_url">
                            <button class="button mini-button" data-role="popover" data-popover-mode="click" data-popover-position="right" data-popover-text="URL скопирован в буфер обмена" data-popover-background="bg-cyan" data-popover-color="fg-white" id="copy"><span class="mif-images"></span></button>
                            <small id="copy_result"></small>
                        </div>
                    </div>
                </div>
                <div class="cell colspan1">
                    <span class="list-subtitle"><a class="fg-red " href="?action=remove" onclick="if(!confirm('Удалить картинку с сервера?')) return false; del=true"><small>Удалить</small></a></span><br/>
                    <span class="list-subtitle place-right"><a class="fg-green" href="#" id="save"><h4>Сохранить</h4></a></span>
                </div>
            </div>

        </div>
        </div>
        <div class="flex-grid">
            <div class="row flex-just-sa">
                <div class="auto-size image-container bordered image-format-hd margin20">
                    <div class="frame">
                        <canvas id="canvas"></canvas>
                        <img style="display:none" id="uploaded_img" src="{{ asset(image) }}" onclick="openImageWindow(this.src);" alt="Бесплатная мгновенная публикация изображений в интернете" />
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="row cells12">
                <div class="cell colspan10 offset1">
                    <div class="panel collapsible" data-role="panel">
                        <div class="heading bg-dark">
                            <span class="icon mif-pencil bg-grayLight"></span>
                            <span class="title">Comments</span>
                        </div>
                        <div class="content padding10 bg-lighterGray" style="display: block;">
                            <form action="" method="post">
                                <div class="grid">
                                    <div class="row cells12">
                                        <div class="cell colspan9">
                                            <div class="input-control text full-size" data-role="input">
                                                <label for="textarea">Text:</label>
                                                <textarea id="textarea" name="text" rows="1" cols="5"></textarea>
                                                <button class="button helper-button clear"><span class="mif-cross"></span></button>
                                            </div>
                                        </div>
                                        <div class="form-actions cell colspan3">
                                            <span id="add_comment" class="button primary bg-lightGray">Add comment</span>
                                        </div>
                                    </div>
                                </div>
                            </form><br><br><br><br>
                            {% for comment in comments %}
                                <div class="panel">
                                    <div class="heading bg-steel">
                                        <span class="title">
                                            <small>{{ comment.dateCreate|date("m/d/Y H:i:s") }}</small>
                                        </span>
                                        <span class="title">{{ comment.user.username }}:</span>
                                    </div>
                                    <div class="content padding10" style="background: rgba(100,100,100,0.52)">
                                        {{ comment.text }}
                                    </div>
                                </div><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/ratchet-chat.js') }}" type="javascript"></script>
    <script>
        $(document).ready(function () {
            $("#add_comment").click(function () {
                var text = $("#textarea").val();
                var image = '{{ image_name }}';
                if(text){
                    $.post('{{ path('add_comment') }}', {'text': text, 'image': image})
                        .done(function (data) {
                            if(data == 'success'){
                                console.log('success');
                                $.Notify({
                                    caption: 'Success',
                                    content: 'Comment added.',
                                    type: 'success'
                                });
                            }else{
                                console.log(data);
                                $.Notify({
                                    caption: 'Error',
                                    content: 'Comment not saved.',
                                    type: 'alert'
                                });
                            }
                        })
                }else{
                    $("#textarea").css('border-color','red');

                    setTimeout(function () {
                        $("#textarea").css('border-color','grey');
                    }, 1000);
                }
            })
        })
    </script>
    <script src="{{ asset('js/fabric.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tools.js') }}"></script>
{% endblock %}