{% extends 'base.html.twig' %}

{% block body %}

<div class="row cells9 fg-grey text-accent" style="background-color: #5c5c5c">
    <div class="cell colspan3"></div>
    <div class="row flex-just-center">
        <div id="imageurl" data-image="{{ image_name }}"></div>
        <div class="">
            <button style="margin: 0; border-color: #999999;" id="undo-button" class="shortcut-button bg-lightGray bg-active-dark fg-white" data-role="hint" data-hint-mode="1" data-hint="Отменить изменения">
                    <span class="icon mif-keyboard-return "></span>Clear
            </button>
            <button style="margin: 0; border-color: #999999;" class="shortcut-button bg-lightGray bg-active-dark fg-black " id="frame">
                <img src="{{ asset('icon/frame.png.jpg') }}" class="icon"/>Frame<br />
            </button>
            <button style="margin: 0; border-color: #999999;" class="shortcut-button bg-lighterGray bg-lightGray fg-black " id="marker"><!--active by default-->
                <span class="icon mif-pencil fg-black"></span>Marker
            </button>
            <button style="margin: 0; border-color: #999999;" class="shortcut-button bg-lightGray bg-active-dark fg-black" id="cut">
                <span class="icon mif-crop fg-black "></span>Snipp
            </button>
            <button style="margin: 0; border-color: #999999;" class="shortcut-button bg-lightGray bg-active-dark fg-black " id="text">
                <span class="icon fg-black"><strong>T</strong></span>Text
            </button>
            <button style="margin: 0; background-color: #5c5c5c; border-color: #5c5c5c" class="shortcut-button fg-white" id="text">
                <label>Color:</label>
                <input class="cell colspan1" type="color" id="brushColor" value="#ff0000">
                <label>Size:&nbsp&nbsp</label>
                <small>
                    <select class="size40" id="size">
                        <option value="1" style="color: black">1px(15 текст)</option>
                        <option value="3" style="color: black">3px(15 текст)</option>
                        <option value="5" style="color: black">5px(20 текст)</option>
                        <option value="10" selected style="color: black">10px(40 текст)</option>
                        <option value="15" style="color: black">15px(60 текст)</option>
                        <option value="20" style="color: black">20px(80 текст)</option>
                        <option value="30" style="color: black">30px(120 текст)</option>
                        <option value="40" style="color: black">40px(160 текст)</option>
                        <option value="70" style="color: black">70px(280 текст)</option>
                    </select>
                </small>
            </button>
        </div>
    </div>
</div>
<div class="flex-grid"  style="top: 15px;">
    <div class="row flex-just-center bg-steel">
        <button class="place-right button fg-white bg-darkGray" style="margin: 0" onclick="showDialog('#dialog')">Share</button>
        <button class="place-right button fg-white bg-steel" id="save" style="margin: 0">Save</button>
        <a class="place-right button fg-white bg-darkGray" style="margin: 0" href='{{ path('delete', {'image': image_name}) }}' onclick="if(!confirm('Удалить картинку с сервера?')) return false;">Delete</a>
    </div>
</div>

<div class="page-content">

    <div class="pasted-image-block"><div class="control-image-block row cells12">
        <div class="flex-grid">

        </div>

        </div>
        </div>
        <div class="flex-grid">
            <div class="row flex-just-sa">
                <div class="auto-size image-container bordered image-format-hd margin20">
                    <div class="frame">
                        <canvas id="canvas"></canvas>
                        <img style="display:none" id="uploaded_img" src="{{ asset(image) }}" onclick="openImageWindow(this.src);" alt="Бесплатная мгновенная публикация изображений в интернете" />
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="row cells12">
                <div class="cell colspan10 offset1">
                    <div class="panel collapsible" data-role="panel">
                        <div class="heading bg-dark">
                            <span class="icon mif-pencil bg-grayLight"></span>
                            <span class="title">Comments</span>
                        </div>
                        <div class="content padding10 bg-lighterGray" style="display: block;">
                            <form action="" method="post">
                                <div class="grid">
                                    <div class="row cells12">
                                        <div class="cell colspan9">
                                            <div class="input-control text full-size" data-role="input">
                                                <label for="textarea">Text:</label>
                                                <textarea id="textarea" name="text" rows="1" cols="5"></textarea>
                                                <button class="button helper-button clear"><span class="mif-cross"></span></button>
                                            </div>
                                        </div>
                                        <div class="form-actions cell colspan3">
                                            <span id="add_comment" class="button primary bg-lightGray">Add comment</span>
                                        </div>
                                    </div>
                                </div>
                            </form><br><br><br><br>
                            <div id="comments">
                            {% for comment in comments %}
                                <div class="panel">
                                    <div class="heading bg-steel">
                                        <span class="title">
                                            <small>{{ comment.dateCreate|date("m/d/Y H:i:s") }}</small>
                                        </span>
                                        <span class="title">{{ comment.user.username }}:</span>
                                    </div>
                                    <div class="content padding10" style="background: rgba(100,100,100,0.52)">
                                        {{ comment.text }}
                                    </div>
                                </div><br>
                            {% endfor %}
                            <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascript %}
    <div data-role="dialog" id="dialog" class="padding20 dialog" data-close-button="true" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="true" style="width: auto; height: auto; visibility: visible; left: 530px; top: 293px;">
         <form id="share_form">
             <div class="cell">
                <label>Enter e-mail*</label>
                <div class="input-control text full-size">
                    <input type="email" required id="email">
                </div>
             </div>
             <button type="submit" class="button">Send</button>
        </form>
    </div>
    <script>
        function showDialog(id){
            var dialog = $(id).data('dialog');
            dialog.open();
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#add_comment").click(function () {
                var text = $("#textarea").val();
                var image = '{{ image_name }}';
                if(text){
                    $.post('{{ path('add_comment') }}', {'text': text, 'image': image})
                        .done(function (data) {
                            if(data == 'success'){
                                console.log('success');
                                $.Notify({
                                    caption: 'Success',
                                    content: 'Comment added.',
                                    type: 'success'
                                });
                            }else{
                                console.log(data);
                                $.Notify({
                                    caption: 'Error',
                                    content: 'Comment not saved.',
                                    type: 'alert'
                                });
                            }
                        })
                }else{
                    $("#textarea").css('border-color','red');

                    setTimeout(function () {
                        $("#textarea").css('border-color','grey');
                    }, 4000);
                }
            });

            $('#share_form').submit(function (event) {
                event.preventDefault();

                var image = $('#imageurl').attr('data-image');
                var email = $('#email').val();
                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                if(email.length > 0 && regex.test(email)){
                    $.post('/ajax-share', {image: image, email:email})
                        .success(function () {
                            $.Notify({
                                caption: 'Success',
                                content: 'Email sanded.',
                                type: 'success'
                            });
                        })
                }else{
                    $('#email').parent().addClass('error');

                    setTimeout($('#email').parent().removeClass('error'), 4000);
                }
            });
        })
    </script>
    {#<script src="{{ asset('js/core-chat.js') }}" type="text/javascript"></script>#}
    <script src="{{ asset('js/fabric.js') }}"></script>
    <script src="{{ asset('js/ratchet-chat.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('js/tools.js') }}"></script>
{% endblock %}